{
    "extends": ["airbnb-base", "prettier"],
    "root": true,
    "env": {
        "amd": true,
        "browser": true,
        "es6": true,
        "jest": true,
        "node": true,
    },
    "globals": {
        "BigInt": "readonly",
        "BigInt64Array": "readonly",
        "BigUint64Array": "readonly",
        "globalThis": "readonly",
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
    },
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error",
        // Overridden
        "camelcase": ["error", { "properties": "never", "allow": ["W[0-9]+_"] }],
        "import/extensions": "off",
        "no-eval": "off",
        "no-self-compare": "off",
        "one-var": ["error", "never"],
    },
    "overrides": [
        {
            "files": ["**/*.ts"],
            "parserOptions": {
                "project": "./tsconfig.json",
            },
            "extends": ["airbnb-typescript/base", "prettier"],
            "plugins": ["@typescript-eslint"],
            "rules": {
                "@typescript-eslint/no-unused-vars": [
                    "warn",
                    {
                        "vars": "all",
                        "args": "after-used",
                        "ignoreRestSiblings": true,
                        "argsIgnorePattern": "^_", // For tsc compatibility.
                    },
                ],
                "comma-dangle": "off",
                "implicit-arrow-linebreak": "off", // Conflicts with prettier.
                "import/extensions": "off",
                "import/prefer-default-export": "off",
                "operator-linebreak": "off",
                "object-curly-newline": "off",
                "prefer-rest-params": "off", // We need to use params.
                "prettier/prettier": "error",
                "@typescript-eslint/no-shadow": "warn",
                "@typescript-eslint/no-use-before-define": ["warn", { "functions": false }],
                "import/no-cycle": "warn",
                "no-bitwise": "off",
                "no-unsafe-finally": "warn",
                "no-param-reassign": "off",
                "no-shadow": "warn",
            },
        },
    ],
}
